* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family: 'Poppims', sans-serif;
}

body {
    background-color: rgb(0, 0, 0);
    max-width: 1520px;
    width: 100%;
    background: #0a2a43;
    min-height: 1500px;
}

.container {
    width: 100%;
    min-height: 100vh;

    .header {
        height: 70px;
        position: fixed;
        max-width: 1520px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 110;
        margin: 10px;
        h1 {
            color: #fff;
        }

        &__link {
            position: relative;
            display: flex;
            align-items: center;

            a {
                position: relative;
                width: 180px;
                height: 35px;
                text-align: center;
                line-height: 55px;
                margin: 5px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
                background: rgb(48, 110, 158);
                color: #fff;
                font-size: 14px;
                font-weight: 500;
                text-decoration: none;
                letter-spacing: 2px;
                overflow: hidden;
                border-radius: 4px;
                span {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    z-index: 110;
                    transition: 0s ease-in;
                }
                :before {
                    content: '';
                    position: absolute;
                    bottom: -250px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 250px;
                    height: 250px;
                    border-radius: 50%;
                    transition: 0.4s ease-in;
                    z-index: -1;
                }
                .link_home::before {
                    background: #d6d6d6;
                }
                .link_ansower::before {
                    background: #e92c2c;
                }
                .link_login::before {
                    background: #dbd811;
                }
                :hover:before {
                    bottom: -150px;
                }
                :nth-child(2):before {
                    bottom: 60px;
                }

                :nth-child(2):hover:before {
                    bottom: -40px;
                }
            }
            a:hover span {
                color: #fff;
                z-index: 110;
            }
        }
    }

    section {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            pointer-events: none;
        }
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, #0a2a43, transparent);
            z-index: 100;
        }
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #0a2a43;
            z-index: 100;
            mix-blend-mode: color;
        }
        h2 {
            position: relative;
            color: #fff;
            font-size: 9em;
            z-index: 1;
        }
    }
}

.search {
    margin: 100px 0 100px 0;
    h1 {
        text-align: center;
        color: #fff;
        font-size: 3em;
    }
    .search-block {
        margin-top: 50px;
        display: flex;
        max-width: 700px;
        height: 50px;
        width: 100%;
        background: #ffffff;
        mix-blend-mode: normal;
        border-radius: 25px 25px 25px 25px;

        input {
            position: relative;
            display: inline-block;
            font-size: 20px;
            box-sizing: border-box;
            transition: 0.5s;
        }

        &__img {
            max-width: 30px;
            width: 100%;
            height: 30px;
            margin: 10px;
        }
        &__text-input {
            color: black;
            border: none;

            width: 100%;
            outline: none;
            border-radius: 25px 0 0 25px;
        }

        &__text-btn {
            position: relative;
            border-radius: 0 25px 25px 0;
            height: 50px;
            width: 150px;
            border: none;
            outline: none;
            cursor: pointer;
            background: #ffc107;
            color: #fff;
            &:hover {
                background: #ff5722;
            }
        }

        &__text-reverse {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-wrap: nowrap;
            span {
                margin: 10px;
            }
        }
    }
}

.cards {
    display: flex;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    width: 100%;
    flex-wrap: wrap;
    padding: 40px 0;
    &__container {
        position: relative;
        width: 300px;
        display: flex;
        height: 350px;
        margin: 30px;
    }
    &__box {
        position: absolute;
        top: 20px;
        left: 20px;
        right: 20px;
        bottom: 20px;
        background: #ebf5fc;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;
        &:hover {
            transform: translateY(-30px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
            background: linear-gradient(45deg, #43324b, #271f96);
        }
    }

    &__content {
        padding: 20px;
        text-align: center;
        h2 {
            position: absolute;
            top: -10px;
            right: 30px;
            font-size: 8em;
            color: rgba(0, 0, 0, 0.02);
            transition: 0.5s;
            pointer-events: none;
        }
        h2:hover {
            color: rgba(0, 0, 0, 0.05);
        }
        h3 {
            font-size: 1.8em;
            color: #777;
            z-index: 1;
            transition: 0.5s;
        }

        p {
            font-size: 1em;
            font-weight: 300;
            color: #777;
            z-index: 1;
            transition: 0.5s;
        }

        a {
            position: relative;
            display: inline-block;
            padding: 8px 20px;
            background: #03a9f4;
            margin-top: 15px;
            border-radius: 20px;
            color: #fff;
            text-decoration: none;
            font-weight: 400;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
    }
}

.footer {
    max-width: 1366px;
    width: 100%;
    margin: 50px auto;
    height: 250px;
    display: flex;
    border-top: 1px solid #000;
    background: #0a2a43;
  
    &__question-block {
      margin: 43px 0 0 70px;
      max-width: 683px;
      width: 100%;
  
      h6 {
        text-align: left;
        font-size: 20px;
        color: white;
      }
      p {
        margin-top: 20px;
        text-align: left;
        font-size: 16px;
        color: white;
      }
    }
  
    &__social-block {
      max-width: 683px;
      width: 100%;
      margin: 40px;
      .social-block-text {
        text-align: center;
        font-size: 20px;
        color: white;
      }
  
      .social-block-link {
        position: relative;
        text-align: left;
        margin: 0 auto;
        width: 200px;
        display: block;
        left: 30px;
  
        a {
          margin: 10px;
          display: block;
          color: white;
          text-decoration: none;
          margin-top: 20px;
          &:hover {
            border-radius: 10px;
            max-width: 150px;
            width: 100%;
            background-color: white;
            color: black;
          }
        }
        img {
  
          max-width: 40px;
          width: 100%;
        }
      }
    }
  }

#mountain {
    top: 90px;
    z-index: 2;
}
