@import url('https://fonts.googleapis.com/css2?family=Ruthie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Unicase:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500&display=swap');
@import 'react-notifications/lib/notifications.css';

* {
    margin: 0;
    padding: 0;
    margin: 0 auto;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    max-width: 1366px;
    width: 100%;
    background: rgb(255, 255, 255);
}

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    font-family: Cormorant Unicase;
}

.header {
    max-width: 1366px;
    width: 100%;
    height: 70px;

    a {
        margin-top: 38px;
        font-family: Ruthie;
        font-size: 48px;
        color: #000;
        font-style: normal;
        font-weight: normal;
        text-decoration: none;
    }

    &__item {
        display: flex;
    }

    &__logoText {
        margin-top: 38px;
        margin-left: 64px;
    }

    &__list {
        display: flex;
        list-style: none;
        font-family: Bitter;
        font-size: 24px;
        margin-top: 38px;
        align-items: center;
        margin-right: 64px;
        a {
            margin-right: 20px;
            position: relative;
            font-size: 24px;
            text-decoration: none;
            list-style: none;
            font-family: Bitter;
            font-weight: 300;
            padding: 0;
            margin-top: 0;
            &:hover {
                color: rgb(139, 139, 139);
            }
        }
        h4 {
            margin-right: 40px;
            font-weight: 300;
        }
        div {
            text-align: end;
            cursor: pointer;
            &:hover {
                color: white;
                color: rgb(139, 139, 139);
            }
        }
    }

    &__link {
        font-size: 24px;
        text-decoration: none;
    }
}

.main {
    &__title {
        margin-left: 64px;
        margin-right: 64px;
        margin-top: 60px;
        font-style: normal;
        font-weight: 500;
        font-size: 96px;
        line-height: 116px;
    }

    .search {
        margin-top: 60px;
        z-index: 1;
        position: relative;
        width: 100%;
        min-height: 100vh;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        &__item {
            z-index: 10;
            position: absolute;
            width: 100%;
            max-width: 1366px;
            p {
                margin-top: 22px;
                text-align: center;
                font-family: Ruthie;
                position: relative;
                font-size: 48px;
                color: #fffefe;
                font-style: normal;
                font-weight: normal;
                text-decoration: none;
            }
        }

        &__block {
            width: 100%;
            display: flex;
        }
        &__icon {
            margin: 10px;
        }
        &__form {
            margin-top: 50px;
            display: flex;
            max-width: 800px;
            justify-content: space-between;
            height: 50px;
            width: 100%;
            background: #ffffff;
            mix-blend-mode: normal;

            input {
                font-size: 20px;
                font-family: Cormorant Unicase;
                width: 100%;
                max-width: 800px;
                color: black;
                border: none;
                text-transform: uppercase;
                text-align: left;
                outline: none;
                border-radius: 25px 0 0 25px;
            }
        }
        &__blockReverse {
            justify-content: end;
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-wrap: nowrap;
            span {
                margin: 10px;
            }
        }

        .addWords {
            width: 100%;
            position: absolute;
            margin: auto;
            left: 50%;
            margin-left: -150px;
            z-index: -1;
            top: 650px;
            font-family: Cormorant Unicase;
            font-style: normal;
            width: 300px;
            height: 50px;
            font-weight: 600;
            font-size: 26px;
            line-height: 20px;
            background: #1853ed;
            border: 1px solid #ffffff;
            color: #ffffff;
            &:hover {
                color: #1853ed;
                background: #ffffff;
                border: 1px solid #1853ed;
            }
        }

        .results {
            background: #f3f3f3;
            max-width: 800px;
            width: 100%;

            &__text {
                text-align: left;
                font-size: 20px;
                color: #000;
                display: flex;
                align-items: center;
                width: 90%;
                text-transform: uppercase;
                font-weight: 300;
                font-family: Cormorant Unicase;
                margin-left: 10px;
                padding: 7px;
                position: relative;
            }
            &__items {
                display: flex;
                margin-left: 0;

                border-bottom: 1px solid #000;
                :last-child {
                    border-bottom: none;
                }
            }
            &__itemsIcon {
                display: flex;
                align-items: center;
            }
            img {
                margin-left: 20px;
            }
        }
    }

    &__info {
        margin-left: 64px;
        margin-right: 64px;
    }

    &__infoBlock {
        display: flex;
        &:last-child {
            border-bottom: 1px solid #000;
            margin-left: 5px;
        }
    }

    &__infoImage {
        margin-top: 60px;
        margin-right: 0;
        display: flex;
    }

    &__infoTitle {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-align: left;
        margin-top: 100px;
    }

    &__infoText {
        margin-left: 55px;
        margin-right: 55px;
        margin-top: 60px;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }

    &__infoText2 {
        width: 500px;
        height: 400px;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 35px;
        margin-top: 60px;

        margin-left: 0;
        display: flex;
        align-items: center;
        text-align: left;
    }

    &__infoText3 {
        width: 600px;
        height: 400px;
        font-style: normal;
        font-weight: 300;
        font-size: 22px;
        line-height: 35px;
        margin-left: 43px;
        display: flex;
        align-items: center;
        margin-top: 60px;
        margin-right: 0;
        color: #000000;
    }

    &__infoTitle4 {
        text-align: end;
        margin-top: 60px;
        margin-bottom: 60px;
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
    }

    &__infoTitle2 {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-align: end;
        margin-top: 100px;
    }

    &__infoTitle3 {
        font-style: normal;
        font-weight: 500;
        font-size: 48px;
        line-height: 58px;
        text-align: left;
        margin-top: 100px;
    }

    &__infoImage2 {
        margin-top: 60px;
    }

    &__infoImage2 {
        display: flex;
        justify-content: center;
    }
}

.footer {
    margin-left: 64px;
    margin-right: 64px;
    height: 100px;
    font-size: 24px;
    &__item {
        display: flex;
        margin-top: 20px;
        padding: 0;
        justify-content: center;
        img {
            margin-right: 15px;
            margin-left: 15px;
        }
        a {
            text-decoration: none;
            display: flex;
            align-items: center;
            color: #000;
            margin: 20px;
            text-align: center;
        }
    }

    &__info {
        display: flex;
        margin-top: 30px;
        align-items: center;
        width: 100%;
        p {
            width: 90%;
            text-align: center;
            font-weight: 500;
            margin-left: 5px;
            margin-bottom: 10px;
            &:last-child {
                width: 10%;
                text-align: end;
            }
        }
    }
}

.words {
    margin-left: 64px;
    margin-top: 50px;
    display: flex;

    h3 {
        padding: 10px;
        cursor: pointer;
        &:hover {
            background: #5f5f5f;
            color: rgb(253, 253, 253);
        }
    }
    &__select {
        width: 25%;
        border-left: 1px solid #000;
        border-right: 1px solid #000;
        min-height: 100vh;
    }
    &__list {
        width: 85%;
        margin-right: 64px;
    }
}

.dialog {
    height: 100%;
    &__header {
        font-family: Cormorant Unicase;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__dialog_content {
        padding: 10px 24px 24px !important;
    }
}

@media (max-width: 320px) {
    .header {
        a {
            margin-top: 10px;
            font-family: Ruthie;
            font-size: 20px;
        }

        &__logoText {
            margin-top: 10px;
            margin-left: 10px;
        }

        &__list {
            font-size: 10px;
            margin-top: 10px;
            margin-right: 10px;
            a {
                margin-right: 10px;
                position: relative;
                font-size: 10px;
                text-decoration: none;
                list-style: none;
                font-family: Bitter;
                font-weight: 300;
                padding: 0;
                margin-top: 0;
            }
            h4 {
                margin-right: 10px;
            }
        }
    }

    .main {
        &__title {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 10px;
            font-size: 32px;
            line-height: 40px;
        }

        .search {
            margin-top: 10px;
            z-index: 1;
            position: relative;
            width: 100%;
            min-height: 50vh;
            &__item {
                z-index: 10;
                position: absolute;
                width: 100%;
                p {
                    margin-top: 10px;
                    font-size: 22px;
                }
            }

            &__block {
                width: 100%;
                display: flex;
            }
            &__icon {
                margin: 7px;
                height: 15px;
                width: 15px;
            }
            &__form {
                margin-top: 10px;
                max-width: 300px;
                height: 30px;
                input {
                    font-size: 12px;
                    width: 100%;
                    max-width: 280px;
                }
            }
            &__blockReverse {
                font-size: 12px;
                span {
                    margin: 5px;
                }
                img {
                    height: 10px;
                    width: 10px;
                }
            }

            .addWords {
                width: 100%;
                left: 50%;
                margin-left: -75px;
                z-index: -1;
                top: 280px;
                width: 150px;
                height: 22px;
                font-size: 12px;
                line-height: 14px;
            }

            .results {
                max-width: 280px;
                width: 100%;
                &__text {
                    font-size: 12px;
                    width: 90%;
                    font-weight: 300;
                    margin-left: 5px;
                    padding: 3px;
                }
                &__items {
                    margin-left: 0;
                }
            }
        }

        &__info {
            margin-left: 15px;
            margin-right: 15px;
        }

        &__infoBlock {
            height: 400px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            &:last-child {
                flex-direction: column;
                height: 500px;
            }
        }

        &__infoImage {
            margin-top: 20px;
            margin-right: 0;
            display: flex;
            width: 100%;
            height: 200px;
        }

        &__infoImage2 {
            margin-top: 20px;
            margin-right: 0;
            display: flex;
            width: 100%;
            height: 250px;
        }

        &__infoText {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
            font-size: 12px;
            line-height: 15px;
        }

        &__infoText2 {
            width: 90%;
            font-size: 12px;
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 15px;
            text-align: center;
            display: flex;
            align-items: start;
        }

        &__infoText3 {
            width: 90%;
            font-size: 12px;
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 15px;
            text-align: center;
            display: flex;
            align-items: start;
        }

        &__infoTitle {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
        }

        &__infoTitle2 {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
        }

        &__infoTitle3 {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
        }
    }

    .footer {
        margin-left: 15px;
        margin-right: 15px;
        height: 50px;
        font-size: 12px;
        &__item {
            display: flex;
            margin-top: 10px;
            padding: 0;

            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                margin-left: 5px;
            }
            a {
                margin: 5px;
            }
        }

        &__info {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            p {
                text-align: center;
                width: 100%;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 10px;
                &:last-child {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 495.98px) {
    .header {
        a {
            margin-top: 10px;
            font-family: Ruthie;
            font-size: 24px;
        }

        &__logoText {
            margin-top: 15px;
            margin-left: 15px;
        }

        &__list {
            font-size: 12px;
            margin-top: 15px;
            margin-right: 15px;
            a {
                margin-right: 10px;
                position: relative;
                font-size: 12px;
                text-decoration: none;
                list-style: none;
                font-family: Bitter;
                font-weight: 300;
                padding: 0;
                margin-top: 0;
            }
            h4 {
                margin-right: 10px;
            }
        }
    }

    .main {
        &__title {
            margin-left: 15px;
            margin-right: 15px;
            margin-top: 10px;
            font-size: 32px;
            line-height: 40px;
        }

        .search {
            margin-top: 10px;
            z-index: 1;
            position: relative;
            width: 100%;
            min-height: 50vh;
            &__item {
                z-index: 10;
                position: absolute;
                width: 100%;
                p {
                    margin-top: 10px;
                    font-size: 22px;
                }
            }

            &__block {
                width: 100%;
                display: flex;
            }
            &__icon {
                margin: 7px;
                height: 15px;
                width: 15px;
            }
            &__form {
                margin-top: 10px;
                max-width: 300px;
                height: 30px;
                input {
                    font-size: 12px;
                    width: 100%;
                    max-width: 280px;
                }
            }
            &__blockReverse {
                font-size: 12px;
                span {
                    margin: 5px;
                }
                img {
                    height: 10px;
                    width: 10px;
                }
            }

            .addWords {
                width: 100%;
                left: 50%;
                margin-left: -75px;
                z-index: -1;
                top: 280px;
                width: 150px;
                height: 22px;
                font-size: 12px;
                line-height: 14px;
            }

            .results {
                max-width: 300px;
                width: 100%;
                &__text {
                    font-size: 12px;
                    width: 90%;
                    font-weight: 300;
                    margin-left: 5px;
                    padding: 3px;
                }
                &__items {
                    margin-left: 0;
                }
            }
        }

        &__info {
            margin-left: 15px;
            margin-right: 15px;
        }

        &__infoBlock {
            height: 400px;
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
            &:last-child {
                flex-direction: column;
                height: 450px;
            }
        }

        &__infoImage {
            margin-top: 20px;
            margin-right: 0;
            display: flex;
            width: 100%;
            height: 200px;
        }

        &__infoImage2 {
            margin-top: 20px;
            margin-right: 0;
            display: flex;
            width: 100%;
           
            height: 250px;
        }

        &__infoText {
            margin-left: 5px;
            margin-right: 5px;
            margin-top: 10px;
            font-size: 12px;
            line-height: 15px;
        }

        &__infoText2 {
            width: 90%;
            font-size: 12px;
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 15px;
            text-align: center;
            display: flex;
            align-items: start;
        }

        &__infoText3 {
            width: 90%;
            font-size: 12px;
            margin-top: 15px;
            margin-left: 5px;
            margin-right: 5px;
            line-height: 15px;
            text-align: center;
            display: flex;
            align-items: start;
        }

        &__infoTitle {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
        }

        &__infoTitle2 {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
        }

        &__infoTitle3 {
            font-size: 22px;
            line-height: 30px;
            margin-top: 20px;
        }
    }

    .footer {
        margin-left: 15px;
        margin-right: 15px;
        height: 50px;
        font-size: 12px;
        &__item {
            display: flex;
            margin-top: 10px;
            padding: 0;

            img {
                width: 20px;
                height: 20px;
                margin-right: 5px;
                margin-left: 5px;
            }
            a {
                margin: 5px;
            }
        }

        &__info {
            margin-top: 30px;
            display: flex;
            flex-direction: column;
            text-align: center;
            justify-content: center;
            p {
                text-align: center;
                width: 100%;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 10px;
                &:last-child {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}

@media (min-width: 495px) and (max-width: 767.98px) {
    .header {
        a {
            margin-top: 20px;
            font-family: Ruthie;
            font-size: 32px;
        }

        &__logoText {
            margin-top: 20px;
            margin-left: 30px;
            margin-right: 30px;
        }

        &__list {
            font-size: 14px;
            margin-top: 20px;
            margin-right: 30px;
            a {
                margin-right: 20px;
                position: relative;
                font-size: 14px;
                text-decoration: none;
                list-style: none;
                font-family: Bitter;
                font-weight: 300;
                padding: 0;
                margin-top: 0;
            }
            h4 {
                margin-right: 40px;
            }
        }
    }

    .main {
        &__title {
            margin-left: 30px;
            margin-right: 30px;
            margin-top: 30px;
            font-size: 46px;
            line-height: 65px;
        }

        .search {
            margin-top: 40px;
            z-index: 1;
            position: relative;
            width: 100%;
            min-height: 70vh;
            &__item {
                z-index: 10;
                position: absolute;
                width: 100%;
                p {
                    margin-top: 10px;
                    font-size: 32px;
                }
            }

            &__block {
                width: 100%;
                display: flex;
            }
            &__icon {
                margin: 5px;
                height: 25px;
                width: 25px;
            }
            &__form {
                margin-top: 30px;
                max-width: 430px;
                height: 35px;
                input {
                    font-size: 14px;
                    width: 100%;
                    max-width: 430px;
                }
            }
            &__blockReverse {
                font-size: 14px;
                span {
                    margin: 5px;
                }
                img {
                    height: 10px;
                    width: 10px;
                }
            }

            .addWords {
                width: 100%;
                left: 50%;
                margin-left: -75px;
                z-index: -1;
                top: 400px;
                width: 150px;
                height: 35px;
                font-size: 14px;
                line-height: 14px;
            }

            .results {
                max-width: 430px;
                width: 100%;
                &__text {
                    font-size: 14px;
                    width: 90%;
                    font-weight: 300;
                    margin-left: 5px;
                    padding: 3px;
                }
                &__items {
                    margin-left: 0;
                }
                img {
                    margin-left: 20px;
                }
            }
        }

        &__info {
            margin-left: 30px;
            margin-right: 30px;
        }

        &__infoBlock {
            height: 250px;
            display: flex;
            align-items: center;
        }

        &__infoImage {
            margin-top: 0px;
            margin-right: 0;
            display: flex;
            width: 50%;
            height: 200px;
        }

        &__infoImage2 {
            margin-top: 0px;
            margin-left: 0;
            display: flex;
            width: 50%;
            width: 200px;
            height: 200px;
        }

        &__infoText {
            margin-left: 25px;
            margin-right: 25px;
            margin-top: 20px;
            font-size: 14px;
            line-height: 15px;
        }

        &__infoText2 {
            width: 50%;
            font-size: 12px;
            margin-top: 0px;
            margin-left: 0;
            line-height: 15px;
            display: flex;
            align-items: center;
            text-align: left;
        }

        &__infoText3 {
            width: 50%;
            font-size: 12px;
            line-height: 15px;
            display: flex;
            align-items: center;
            margin-top: 0px;
            margin-right: 0;
        }

        &__infoTitle {
            font-size: 26px;
            line-height: 40px;
            margin-top: 20px;
        }

        &__infoTitle2 {
            font-size: 26px;
            line-height: 40px;
            margin-top: 20px;
        }

        &__infoTitle3 {
            font-size: 26px;
            line-height: 40px;
            margin-top: 20px;
        }
    }

    .footer {
        margin-left: 30px;
        margin-right: 30px;
        height: 50px;
        font-size: 14px;
        &__item {
            display: flex;
            margin-top: 10px;
            padding: 0;

            img {
                width: 20px;
                height: 20px;
                margin-right: 15px;
                margin-left: 15px;
            }
            a {
                margin: 20px;
            }
        }

        &__info {
            margin-top: 30px;
            width: 100%;
            p {
                width: 90%;
                text-align: center;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 10px;
                &:last-child {
                    width: 10%;
                    text-align: end;
                }
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .header {
        a {
            margin-top: 28px;
            font-family: Ruthie;
            font-size: 32px;
        }

        &__logoText {
            margin-top: 28px;
            margin-left: 40px;
        }

        &__list {
            font-size: 18px;
            margin-top: 28px;
            margin-right: 40px;
            a {
                margin-right: 20px;
                position: relative;
                font-size: 18px;
                text-decoration: none;
                list-style: none;
                font-family: Bitter;
                font-weight: 300;
                padding: 0;
                margin-top: 0;
            }
            h4 {
                margin-right: 40px;
            }
        }
    }

    .main {
        &__title {
            margin-left: 40px;
            margin-right: 40px;
            margin-top: 40px;
            font-size: 66px;
            line-height: 65px;
        }

        .search {
            margin-top: 40px;
            z-index: 1;
            position: relative;
            width: 100%;
            min-height: 90vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            &__item {
                z-index: 10;
                position: absolute;
                width: 100%;
                p {
                    margin-top: 18px;
                    font-size: 32px;
                }
            }

            &__block {
                width: 100%;
                display: flex;
            }
            &__icon {
                margin: 5px;
            }
            &__form {
                margin-top: 30px;
                max-width: 550px;
                height: 40px;
                input {
                    font-size: 18px;
                    width: 100%;
                    max-width: 550px;
                }
            }
            &__blockReverse {
                span {
                    margin: 10px;
                }
            }

            .addWords {
                width: 100%;
                left: 50%;
                margin-left: -125px;
                z-index: -1;
                top: 540px;
                width: 250px;
                height: 40px;
                font-size: 22px;
                line-height: 14px;
            }

            .results {
                max-width: 550px;
                width: 100%;
                &__text {
                    font-size: 18px;
                    width: 90%;
                    font-weight: 300;
                    margin-left: 10px;
                    padding: 5px;
                }
                &__items {
                    margin-left: 0;
                }
                img {
                    margin-left: 20px;
                }
            }
        }

        &__info {
            margin-left: 40px;
            margin-right: 40px;
        }

        &__infoBlock {
            display: flex;
            align-items: center;
        }

        &__infoImage {
            margin-top: 0px;
            margin-right: 0;
            display: flex;
            width: 50%;

            height: 250px;
        }

        &__infoImage2 {
            margin-top: 0px;
            margin-left: 0;
            display: flex;
            width: 50%;
            width: 300px;
            height: 300px;
        }

        &__infoText {
            margin-left: 45px;
            margin-right: 45px;
            margin-top: 30px;
            font-size: 18px;
            line-height: 25px;
        }

        &__infoText2 {
            width: 50%;
            font-size: 16px;
            margin-top: 0px;
            margin-left: 0;
            line-height: 20px;
            display: flex;
            align-items: center;
            text-align: left;
        }

        &__infoText3 {
            width: 50%;
            font-size: 16px;
            line-height: 20px;
            display: flex;
            align-items: center;
            margin-top: 0px;
            margin-right: 0;
        }

        &__infoTitle {
            font-size: 32px;
            line-height: 40px;
            margin-top: 40px;
        }

        &__infoTitle2 {
            font-size: 32px;
            line-height: 40px;
            margin-top: 40px;
        }

        &__infoTitle3 {
            font-size: 32px;
            line-height: 40px;
            margin-top: 40px;
        }
    }

    .footer {
        margin-left: 40px;
        margin-right: 40px;
        height: 100px;
        font-size: 18px;
        &__item {
            display: flex;
            margin-top: 20px;
            padding: 0;

            img {
                margin-right: 15px;
                margin-left: 15px;
            }
            a {
                margin: 20px;
            }
        }

        &__info {
            margin-top: 30px;
            width: 100%;
            p {
                width: 90%;
                text-align: center;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 10px;
                &:last-child {
                    width: 10%;
                    text-align: end;
                }
            }
        }
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .header {
        a {
            margin-top: 32px;
            font-family: Ruthie;
            font-size: 36px;
        }

        &__logoText {
            margin-top: 32px;
            margin-left: 50px;
        }

        &__list {
            font-size: 22px;
            margin-top: 32px;
            margin-right: 50px;
            a {
                margin-right: 20px;
                position: relative;
                font-size: 22px;
                text-decoration: none;
                list-style: none;
                font-family: Bitter;
                font-weight: 300;
                padding: 0;
                margin-top: 0;
            }
            h4 {
                margin-right: 40px;
            }
        }
    }

    .main {
        &__title {
            margin-left: 50px;
            margin-right: 50px;
            margin-top: 50px;
            font-size: 76px;
            line-height: 86px;
        }

        .search {
            margin-top: 40px;
            z-index: 1;
            position: relative;
            width: 100%;
            min-height: 80vh;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            &__item {
                z-index: 10;
                position: absolute;
                width: 100%;
                p {
                    margin-top: 18px;
                    font-size: 42px;
                }
            }

            &__block {
                width: 100%;
                display: flex;
            }
            &__icon {
                margin: 10px;
            }
            &__form {
                margin-top: 30px;
                max-width: 700px;
                height: 50px;
                input {
                    font-size: 20px;
                    width: 100%;
                    max-width: 800px;
                }
            }
            &__blockReverse {
                span {
                    margin: 10px;
                }
            }

            .addWords {
                width: 100%;
                left: 50%;
                margin-left: -125px;
                z-index: -1;
                top: 500px;
                width: 250px;
                height: 40px;
                font-size: 22px;
                line-height: 14px;
            }

            .results {
                max-width: 700px;
                width: 100%;
                &__text {
                    font-size: 20px;
                    width: 90%;
                    font-weight: 300;
                    margin-left: 10px;
                    padding: 7px;
                }
                &__items {
                    margin-left: 0;
                }
                img {
                    margin-left: 20px;
                }
            }
        }

        &__info {
            margin-left: 50px;
            margin-right: 50px;
        }

        &__infoBlock {
            display: flex;
            align-items: center;
        }

        &__infoImage {
            margin-top: 0px;
            margin-right: 0;
            display: flex;
            width: 50%;
            height: 300px;
        }

        &__infoImage2 {
            margin-top: 0px;
            margin-left: 0;
            display: flex;
            width: 50%;
            width: 300px;
            height: 300px;
        }

        &__infoText {
            margin-left: 45px;
            margin-right: 45px;
            margin-top: 40px;
            font-size: 22px;
            line-height: 25px;
        }

        &__infoText2 {
            width: 50%;
            font-size: 20px;
            margin-top: 0px;
            margin-left: 0;
            line-height: 25px;
            display: flex;
            align-items: center;
            text-align: left;
        }

        &__infoText3 {
            width: 50%;
            font-size: 20px;
            line-height: 25px;
            display: flex;
            align-items: center;
            margin-top: 0px;
            margin-right: 0;
        }

        &__infoTitle {
            font-size: 36px;
            line-height: 40px;
            margin-top: 80px;
        }

        &__infoTitle2 {
            font-size: 36px;
            line-height: 40px;
            margin-top: 80px;
        }

        &__infoTitle3 {
            font-size: 36px;
            line-height: 40px;
            margin-top: 80px;
        }
    }

    .footer {
        margin-left: 50px;
        margin-right: 50px;
        height: 100px;
        font-size: 20px;
        &__item {
            display: flex;
            margin-top: 20px;
            padding: 0;

            img {
                margin-right: 15px;
                margin-left: 15px;
            }
            a {
                margin: 20px;
            }
        }
        &__info {
            margin-top: 30px;
            width: 100%;
            p {
                width: 90%;
                text-align: center;
                font-weight: 500;
                margin-left: 5px;
                margin-bottom: 10px;
                &:last-child {
                    width: 10%;
                    text-align: end;
                }
            }
        }
    }
}

#form-block {
    display: flex;
}

#btn_add {
    font-family: Cormorant Unicase;
    margin-top: 30px;
    height: 40px;
    width: 120px;
    background: #1853ed;
    color: white;
    &:hover {
        background: #ffffff;
        color: rgb(0, 0, 0);
    }
}

#text_total {
    color: rgb(0, 26, 255);
    text-decoration: underline;
}

#btn_auth {
    font-family: Cormorant Unicase;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    margin-top: 20px;
    height: 40px;
    width: 120px;
    background: #1853ed;
    color: white;
    &:hover {
        background: #ffffff;
        color: rgb(0, 0, 0);
    }
}

#btn_close {
    font-family: Cormorant Unicase;
    margin-top: 30px;
    height: 40px;
    width: 120px;
    background-color: #6e6e6e;
    color: white;
}

#auth {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#textdata {
    font-size: 24px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#h1text {
    color: white;
}
