.searchWords {
    max-width: 700px;
    position: relative;
    top: -90px;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
    background-color: white;

    height: auto;
    border-radius: 4px;
    &__words {
        display: block;
    }
    p {
        width: 100%;
        text-align: left;
        padding: 20px;
        letter-spacing: 2px;
    }
    &__results {
        display: flex;
        align-items: center;
    }
}

#openModal {
    position: relative;
    display: inline-block;
    padding: 8px 20px;
    background: #03a9f4;
    margin-top: 15px;
    border-radius: 20px;
    color: #fff;
    font-weight: 400;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
