.header {   
    height: 70px;
    background-color: rgb(163, 161, 161);
    width: 100%;
    display: flex;
    align-items: center;
    img {
        margin-top: 10px;
    }

    &__link {
        display: flex;
        align-items: center;
        
        a { 
            position: relative;
            text-align: end;
            border-radius: 10px;
            padding: 10px;
            background: rgb(255, 255, 255);
            margin-left: 10px;
            text-decoration: none;
            color: black;
            &:hover {
                background:rgb(7, 7, 7);
                color: white;
            }
        }
    }
}